@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    This file stores all the abstractions created for tailwind css, including the buttons, cards, etc.
    NOTE, any change to this file requires a re-build of the css "npm run build:css"
    Doing this command will regenerate the css/tailwind.css file. 

    https://tailwindcss.com/docs/installation/ has information on how this is working with the tailwind.config.js
*/

.theme-light {
    --bg-background-primary: #007EBA;
    --bg-background-secondary: white;
    --bg-background-ternary: #e2e8f0;
    --bg-primary-complement: #0AB568;
    --bg-primary-chromatic: #14588F;
    --text-copy-primary: rgb(29, 29, 29);
    --text-copy-secondary: rgb(145, 145, 145);
    --text-copy-ternary: white;
}

.theme-dark {
    --bg-background-primary: #071e3d;
    --bg-background-secondary: #1d4d77;
    --bg-background-ternary: #278ea5;
    --bg-primary-complement: #2AF598;
    --bg-primary-chromatic: #278ea5;
    --text-copy-primary: #cbd5e0;
    --text-copy-secondary: white;
    --text-copy-ternary: #fff;
}

.theme-dark.page-background {
    background: var(--bg-background-primary);
}

.page-background {
    background: linear-gradient(var(--bg-background-primary), transparent), linear-gradient(to top left, var(--bg-primary-complement), transparent), linear-gradient(to top right, var(--bg-primary-chromatic), transparent);
    background-blend-mode: screen;
}

:root {
    --gold-color: #ffd700;
    --silver-color: #C0C0C0;
    --bronze-color: #cd7f32;
}

.card {
    @apply bg-secondary rounded-lg shadow-xl mt-5 select-none cursor-pointer;
    @apply transition duration-25 ease-out;
}

.card:hover {
    @apply shadow-2xl;
}

.username {
    @apply block whitespace-no-wrap py-2 px-4 cursor-pointer;
}

.username:hover {
    @apply bg-secondary;
}

.button-primary {
    @apply h-10 cursor-pointer text-primaryText bg-secondary border-b-2 border-primary shadow-xl py-2 px-4 items-center select-none;
    @apply transition duration-300 ease-in-out;
}

.button-primary:hover {
    @apply border-primaryChromatic bg-primary text-ternaryText rounded;
}

.button-secondary {
    @apply bg-transparent text-primaryBgText font-semibold transition duration-100 ease-in-out py-2 px-4 border border-primary rounded-lg cursor-pointer font-bold select-none;
}

.button-secondary:hover {
    @apply bg-primary border-transparent text-ternaryText;
}

.button-ternary {
    @apply bg-transparent text-ternaryText font-semibold transition duration-100 ease-in-out py-2 px-4 border border-ternary rounded-lg cursor-pointer font-bold select-none;
}

.button-ternary:hover {
    @apply bg-secondary border-transparent text-primaryText;
}

.circled {
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    display: table;
    border-width: 1px;
    border-color: #eee;
    /* padding: 8px; */
    /* @apply border-2; */
}

.circled.bronzeAward {
    border-width: 3px;
    @apply border-bronze;
}

.circled.silverAward {
    border-width: 3px;
    @apply border-silver;
}

.circled.goldAward {
    border-width: 3px;
    @apply border-gold;
}

.circled.bronzeAward:hover {
    @apply bg-bronze;
}

.circled.silverAward:hover {
    @apply bg-silver;
}

.circled.goldAward:hover {
    @apply bg-gold;
}

.circled>* {
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-all;
}


/* Team Selection */

.team-container {
    @apply p-2 min-w-full;
    min-height: 5rem;
    box-shadow: 0 0 0 3px rgba(180, 180, 180, 0.5);
}

.team-title {
    @apply text-center text-2xl text-primaryText pb-4 font-bold;
}

.draggable-user {
    border: 1px solid var(--bg-background-ternary);
    @apply text-center font-bold text-lg rounded-lg cursor-move;
}