* {
    font-family: 'Montserrat', sans-serif;
}

form {
    margin: 0;
}

nav {
    z-index: 110;
    transition: all 0.2s ease-in-out;
}

.nav-up {
    transform: translateY(-1000px);
}


/* Table */

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }
    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

table {
    overflow: hidden;
    z-index: 1;
}

.tinted {
    background-color: rgba(0, 0, 0, 0.15);
}

.justify-space {
    justify-content: space-between;
}

.tinted-full {
    background-color: rgba(0, 0, 0, 0.75);
}

.back-button {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
}

.card:hover {
    transform: scale(1.01);
    transition: all 0.15s ease;
}

.card .flipside {
    display: none;
    opacity: 0;
}

#overlay .card-content {
    max-height: 50vh;
    overflow-y: scroll;
}

.card-link:hover {
    transform: scale(0.99);
    transition: all 0.15s ease;
}

.hideOverlay {
    opacity: 0;
    z-index: -1;
}

#overlay {
    background-color: rgba(0, 0, 0, .35);
    backdrop-filter: blur(5px) saturate(2);
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

#overlay .flipside-wrapper {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    height: min-content;
    max-height: 80vh;
}

.slideUp {
    transition: all 0.75s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
}

.slideUpComplete {
    transform: translateY(0px) !important;
    opacity: 1 !important;
}

.slideFadeRight {
    transition: all 0.75s ease-in-out;
    transform: translateX(-20px);
    opacity: 0;
}

.slideFadeRight2 {
    transition: all 1.50s ease-in-out;
    transform: translateX(-20px);
    opacity: 0;
}

.slideFadeRightComplete {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}

@keyframes pop {
    from {
        opacity: 0;
    }
    to {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}

.goldExplosion {
    position: absolute;
}

.goldExplosion .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: pop 0.8s reverse forwards;
}

.formError {
    border-bottom: 2px solid red;
}

.formSuccess {
    border-bottom: 2px solid green;
}